/* src/app.css */
html {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    overflow: auto;
  }
  
  :root {
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.25rem;
    --spacing-md: 0.25rem;
    --spacing-lg: 0.25rem;
  }
  